<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Books首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- bulid:css css/combined.css -->
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/js/vendor/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/vendor/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <!-- endbuild -->
</head>
<body>
    <header>
        <nav class="top clearfix">
            <span class="location">你的位置：广州大学</span>
            <ul>
                <li><a href="user/login.html">登陆</a></li>
                <li><a href="user/login.html">快速注册</a></li>
                <li><a href="#">购物车</a></li>
                <li><a href="#">我的书库</a></li>
                <li><a href="#">帮助</a></li>
            </ul>
        </nav>
        <nav class="main">
            <a href="#" class="brand"><img src="img/logo.png" alt="回到首页"></a>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="shareBooks.html" target="_blank">共享书圈</a></li>
                <li><a href="#">读书笔记</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">公益捐书</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="ad">
            <div class="owl-carousel">
                <div class="item">
                    <picture>
                        <source srcset="__PUBLIC__/img/ad001-l.png" media="(min-width:50em)">
                         <source srcset="__PUBLIC__/img/ad001-m.png" media="(min-width:30em)">
                         <img src="__PUBLIC__/img/ad001.png" alt="2017年度报告">
                    </picture>
                 </div>
                <div class="item">
                    <picture>
                          <source srcset="__PUBLIC__/img/ad002-l.png" media="(min-width:50em)">
                         <source srcset="__PUBLIC__/img/ad002-m.png" media="(min-width:30em)">
                         <img src="__PUBLIC__/img/ad002.png" alt="红包吗">
                    </picture>
                </div>
                 <div class="item">
                    <picture>
                          <source srcset="__PUBLIC__/img/ad003-l.png" media="(min-width:50em)">
                         <source srcset="__PUBLIC__/img/ad003-m.png" media="(min-width:30em)">
                           <img src="__PUBLIC__/img/ad003.png" alt="平时打的">
                    </picture>
                </div>
            </div>
        </div>



        <div class="notice clearfix">
            <a href="#"><span>2017-1-30</span>hahahhahahceshihie</a>
            <a href="#" class="more">更多公告</a>
        </div>

        <section class="product clearfix">
            <h2>
                Books
                <em>在此为你</em>
                <em>甄选更好的</em>

            </h2>
            <div class="product-content">
                   <div class="item clearfix">
                    <div class="img-book">
                        <a href="#" class="img">
                            <img src="__PUBLIC__/img/book1.jpg" alt="金钱">
                        </a>
                    </div>
                    <div class="info">
                        <p class="title">书名：
                        <span class="title-r">
                            <a href="#">《金钱永动》</a>
                        </span>
                        </p>
                        <p class="author">作者：
                            <span class="author-r">
                                <a href="#">harychen</a>
                            </span>
                        </p>
                        <p class="price">价格：
                            <span class="price-r">
                                <span class="sign">
                                ¥
                                </span>
                                <span class="num">49.50</span>
                            </span>
                        </p>
                    </div>
                    <div class="recommend">
                        <p class="recommend-p">推荐理由：
                            <span class="describe">
                                i do!so i am!whatever what you want just go ahead dont afraidsdsdsd

                            </span>
                        </p>
                        <p class="tag">
                            标签：
                            <button class="btn"><a href="#">金融</a></button>
                            <button class="btn"><a href="#">经济</a></button>
                        </p>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="img-book">
                        <a href="#" class="img">
                            <img src="__PUBLIC__/img/book1.jpg" alt="金钱">
                        </a>
                    </div>
                    <div class="info">
                            <p class="title">书名：
                        <span class="title-r">
                            <a href="#">《金钱永动》</a>
                        </span>
                        </p>
                        <p class="author">作者：
                            <span class="author-r">
                                <a href="#">harychen</a>
                            </span>
                        </p>
                         <p>价格：
                            <span class="price-r">
                                <span class="sign">
                                ¥
                                </span>
                                <span class="num">49.50</span>
                            </span>
                        </p>
                    </div>
                     <div class="recommend">
                        <p>推荐理由：
                            <span class="describe">
                                i do!so i am!whatever what you want just go ahead dont afraidsdsdsd

                            </span>
                        </p>
                        <p class="tag">
                            标签：
                            <button class="btn"><a href="#">金融</a></button>
                            <button class="btn"><a href="#">经济</a></button>
                        </p>
                    </div>
                </div>
                    <div class="item clearfix">
                    <div class="img-book">
                        <a href="#" class="img">
                            <img src="__PUBLIC__/img/book1.jpg" alt="金钱">
                        </a>
                    </div>
                    <div class="info">
                            <p class="title">书名：
                        <span class="title-r">
                            <a href="#">《金钱永动》</a>
                        </span>
                        </p>
                        <p class="author">作者：
                            <span class="author-r">
                                <a href="#">harychen</a>
                            </span>
                        </p>
                        <p class="price">价格：
                            <span class="price-r">
                                <span class="sign">
                                ¥
                                </span>
                                <span class="num">49.50</span>
                            </span>
                        </p>
                    </div>
                    <div class="recommend">
                        <p class="recommend-p">推荐理由：
                            <span class="describe">
                                i do!so i am!whatever what you want just go ahead dont afraidsdsdsd

                            </span>
                        </p>
                        <p class="tag">
                            标签：
                            <button class="btn"><a href="#">金融</a></button>
                            <button class="btn"><a href="#">经济</a></button>
                        </p>
                    </div>
                </div>
                 <div class="item clearfix">
                    <div class="img-book">
                        <a href="#" class="img">
                            <img src="__PUBLIC__/img/book1.jpg" alt="金钱">
                        </a>
                    </div>
                    <div class="info">
                             <p class="title">书名：
                        <span class="title-r">
                            <a href="#">《金钱永动》</a>
                        </span>
                        </p>
                        <p class="author">作者：
                            <span class="author-r">
                                <a href="#">harychen</a>
                            </span>
                        </p>
                        <p class="price">价格：
                            <span class="price-r">
                                <span class="sign">
                                ¥
                                </span>
                                <span class="num">49.50</span>
                            </span>
                        </p>
                    </div>
                    <div class="recommend">
                        <p class="recommend-p">推荐理由：
                            <span class="describe">
                                i do!so i am!whatever what you want just go ahead dont afraidsdsdsd

                            </span>
                        </p>
                        <p class="tag">
                            标签：
                            <button class="btn"><a href="#">金融</a></button>
                            <button class="btn"><a href="#">经济</a></button>
                        </p>
                    </div>
                </div>
                <div class="item clearfix">
                    <div class="img-book">
                        <a href="#" class="img">
                            <img src="__PUBLIC__/img/book1.jpg" alt="金钱">
                        </a>
                    </div>
                    <div class="info">
                            <p class="title">书名：
                        <span class="title-r">
                            <a href="#">《金钱永动》</a>
                        </span>
                        </p>
                        <p class="author">作者：
                            <span class="author-r">
                                <a href="#">harychen</a>
                            </span>
                        </p>
                        <p class="price">价格：
                            <span class="price-r">
                                <span class="sign">
                                ¥
                                </span>
                                <span class="num">49.50</span>
                            </span>
                        </p>
                    </div>
                    <div class="recommend">
                        <p class="recommend-p">推荐理由：
                            <span class="describe">
                                i do!so i am!whatever what you want just go ahead dont afraidsdsdsd

                            </span>
                        </p>
                        <p class="tag">
                            标签：
                            <button class="btn"><a href="#">金融</a></button>
                            <button class="btn"><a href="#">经济</a></button>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer>
        <p>制作者：陈汉林 2016-2017</p>
    </footer>
    <!-- bulid:js js/combined.js -->
    <script src="__PUBLIC__/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/js/vendor/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
     <script src="__PUBLIC__/js/vendor/picturefill.min.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>
    <!-- endbulid -->
</body>
</html>
 