<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<link rel="stylesheet" href="__PUBLIC__/css/shopcar.css">

</head>
<body>
	<table id="cartTable">
		<thead>
			<tr>
				<th><label><input class="check-all check" type="checkbox">&nbsp;全选</label></th>
				<th>商品</th>
				<th>单价</th>
				<th>数量</th>
				<th>小计</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="items" id="items" empty="没有什么进入你的购物车哦">
			<tr>
				<td class="checkbox"><input class="check-one check" type="checkbox"></td>
				<td class="goods">
					<img src="{$items['item_url']}" alt="">
					<span>{$items['item_name']}</span></td>
				<td class="price">{$items['item_price']}</td>
				<td class="count">
					<span class="reduce"></span>
					<input class="count-input" type="text" value="{$items['item_amount']|substr=0,1}">
					<span class="add">+</span>
				</td>
				<td class="subtotal">{$items['item_price']}</td>
				<td class="operation"><span class="delete">删除</span></td>
			</tr>
			</volist>
			
		<!-- 	<tr>
				<td class="checkbox"><input class="check-one check" type="checkbox"></td>
				<td class="goods"><img src="#" alt=""><span>oppoR9s</span></td>
				<td class="price">2888</td>
				<td class="count">
					<span class="reduce"></span>
					<input class="count-input" type="text" value="1">
					<span class="add">+</span>
				</td>
				<td class="subtotal">2888</td>
				<td class="operation"><span class="delete">删除</span></td>
			</tr> -->
		</tbody>
	</table>
	<div class="foot" id="foot">
		<label class="fl select-all"><input class="check-all check" type="checkbox">&nbsp;全选</label>
		<a class="fl delete" id="deleteAll" href="javascript:">删除</a>
		<div class="fr closing">结算</div>
		<div class="fr total">合计: ¥<span id="priceTotal">0.00</span></div>
		<div class="fr selected" id="selected">已选商品
			<span id="selectedTotal">0</span>件
			<span class="arrow up">∧</span>
			<span class="arrow down">v</span>
		</div>
		<div class="selected-view">
			<div id="selectedViewList" class="clearfix">
				<!-- <div><img src="#" alt=""><span>取消选择</span></div> -->
			</div>
			<span class="arrow">·<span>·</span></span>
		</div>
	</div>

	
</body>
<script src="__PUBLIC__/js/vendor/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/shopcar.js"></script>
</html>